<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<link href="reset.min.css" rel="stylesheet"/>
		<link href="style.css" rel="stylesheet"/>
		<script src="lodash.min.js"></script>
		<script src="date.js"></script>
		<script src="vue.min.js"></script>
	</head>
	<body>
		<div class="wrapper">
			<div class="container" id="direct">
				<div class="left">
					<div class="top">
						<input placeholder="Search" type="text"/>
					</div>
					<ul class="people">
						<li
							class="user"
							v-for="user in users"
							:class="{'active': selectedUser.id == user.id}"
							@click="selectedUser = user"
						>
							<img v-bind:src="user.img" />
							<span class="name" v-html="user.name"></span>
							<span class="time" v-html="user.time"></span>
							<span class="preview" v-html="user.preview"></span>
						</li>
					</ul>
				</div>
				<div class="right">
					<div class="top">
						<span>
							<span class="name" v-html="selectedUser.name"></span>
						</span>
					</div>
					<div class="chat" :class="{'active-chat': selectedUser.id != 0}">
						<div
							v-for="chat in chats"
							class="bubble"
							:class="{
								'me': chat.from == me.id,
								'you': chat.from != me.id
							}"
						>
							<div v-html="chat.message"></div>
							<small v-html="chat.time"></small>
						</div>
					</div>
					<div class="write">
						<a class="write-link attach" href="javascript:;"></a>
						<input type="text" />
						<a class="write-link smiley" href="javascript:;"></a>
						<a class="write-link send" href="javascript:;"></a>
					</div>
				</div>
			</div>
		</div>
		<script src="script.js"></script>
	</body>
</html>
